<!DOCTYPE html>
<html lang="es" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">

    <title>Crud 🖊️ 📖 🔄 ❌</title>

    <!-- DataTables CSS -->
    <link rel="stylesheet" href="<?php echo BASE_URL; ?>/css/jquery.dataTables.min.css">

    <!-- DataTables Responsive CSS -->
    <link rel="stylesheet" href="<?php echo BASE_URL; ?>/css/responsive.dataTables.min.css">

    <!-- Estilos propios -->
    <link rel="stylesheet" href="<?php echo BASE_URL; ?>/css/main.css">

    <!-- Scripts propios -->
    <script src="<?php echo BASE_URL; ?>/js/main.js"></script>

    <style>
        header a>span {
            letter-spacing: .2rem;
            font-size: 3rem;
        }
    </style>
</head>

<body>

    <!-- Header -->
    <header class="text-center" style="margin: 2rem 0 1rem 0;">
        <a href="<?php echo BASE_URL; ?>/index.php">
            <span title="create">🖊️</span>
            <span title="read">📖</span>
            <span title="update">🔄</span>
            <span title="delete">❌</span>
        </a>
    </header>

    <?php if ($flashes): ?>
    <?php foreach ($flashes as $flash): ?>
    <div class="alert alert-<?= $flash['class']; ?> text-center mt-4">
        <span class="closebtn" onclick="this.parentElement.style.display='none';" title="cerrar">&times;</span>
        <?= htmlspecialchars( $flash['message'] ); ?>
    </div>
    <?php endforeach; ?>
    <?php endif; ?>

    <!-- Main -->
    <main>
        <?php require_once $template; ?>
    </main>

    <!-- Footer -->
    <footer style="margin: 2rem 0;">
        <div class="text-center">
            <p class="fs-14">Copyright <span class="copyright emoji">©️</span> 2019 | Desarrollado por Julio Cesar</p>
        </div>
    </footer>

    <!-- jQuery 3.6.0 -->
    <script src="<?php echo BASE_URL; ?>/js/jquery-3.6.0.slim.min.js"></script>

    <!-- DatatTables JS -->
    <script src="<?php echo BASE_URL; ?>/js/jquery.dataTables.min.js"></script>

    <!-- DatatTables Responsive JS -->
    <script src="<?php echo BASE_URL; ?>/js/dataTables.responsive.min.js"></script>


    <script>
        $(document).ready(function () {
            $('#dataTable').DataTable({
                "language": {
                    "lengthMenu": "Mostrar _MENU_ registros por página",
                    "zeroRecords": "Nada encontrado - lo sentimos",
                    "info": "Mostrando _START_ a _END_ de _TOTAL_ registros",
                    // "info": "Mostrando página _PAGE_ of _PAGES_",
                    "infoEmpty": "Sin registros disponibles",
                    "infoFiltered": "(filtrado de _MAX_ registros totales)",
                    "search": "",
                    "sSearchPlaceholder": 'Buscar...',
                    "oPaginate": {
                        "sFirst": "Primero",
                        "sPrevious": "Anterior",
                        "sNext": "Siguiente",
                        "sLast": "Último"
                    }
                }
            });
        });

        d.addEventListener('DOMContentLoaded', () => {
            closeAlerts();
            initFormErrors();
        });
    </script>
</body>

</html>