<!DOCTYPE html>
<html lang="es" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">

    <title>Crud 🖊️ 📖 🔄 ❌</title>

    <!-- DataTables CSS -->
    <link rel="stylesheet" href="<?php echo BASE_URL; ?>/css/jquery.dataTables.min.css">

    <!-- DataTables Responsive CSS -->
    <link rel="stylesheet" href="<?php echo BASE_URL; ?>/css/responsive.dataTables.min.css">

    <!-- Estilos propios -->
    <link rel="stylesheet" href="<?php echo BASE_URL; ?>/css/main.css">

    <!-- Scripts propios -->
    <script src="<?php echo BASE_URL; ?>/js/main.js"></script>

    <style>
        header a>span {
            letter-spacing: .2rem;
            font-size: 3rem;
        }
    </style>
</head>
<body>

    <!-- Header -->
    <header class="text-center" style="margin: 2rem 0 1rem 0;">
        <a href="<?php echo BASE_URL; ?>/index.php">
            <span title="create">🖊️</span>
            <span title="read">📖</span>
            <span title="update">🔄</span>
            <span title="delete">❌</span>
        </a>
    </header>

    <?php if ($flashes): ?>
    <?php foreach ($flashes as $flash): ?>
    <div class="alert alert-<?= $flash['class']; ?> text-center">
        <span class="closebtn" onclick="this.parentElement.style.display='none';" title="cerrar">&times;</span>
        <?= htmlspecialchars( $flash['message'] ); ?>
    </div>
    <?php endforeach; ?>
    <?php endif; ?>

    <!-- Main -->
    <main>
        <?php require_once $template; ?>
    </main>

    <!-- Footer -->
    <footer style="margin: 2rem 0;">
        <div class="text-center">
            <p class="fs-14">Copyright <span class="copyright emoji">©️</span> 2019 | Desarrollado por Julio Cesar</p>
        </div>
    </footer>

    <!-- jQuery 3.6.0 -->
    <script src="<?php echo BASE_URL; ?>/js/jquery-3.6.0.slim.min.js"></script>

    <!-- DatatTables JS -->
    <script src="<?php echo BASE_URL; ?>/js/jquery.dataTables.min.js"></script>

    <!-- DatatTables Responsive JS -->
    <script src="<?php echo BASE_URL; ?>/js/dataTables.responsive.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#dataTable').DataTable({
                "language": {
                    "lengthMenu": "Mostrar _MENU_ registros por página",
                    "zeroRecords": "Nada encontrado - lo sentimos",
                    "info": "Mostrando _START_ a _END_ de _TOTAL_ registros",
                    // "info": "Mostrando página _PAGE_ of _PAGES_",
                    "infoEmpty": "Sin registros disponibles",
                    "infoFiltered": "(filtrado de _MAX_ registros totales)",
                    "search": "",
                    "sSearchPlaceholder": 'Buscar...',
                    "oPaginate": {
                        "sFirst": "Primero",
                        "sPrevious": "Anterior",
                        "sNext": "Siguiente",
                        "sLast": "Último"
                    }
                }
            });
        });

        document.addEventListener('DOMContentLoaded', () => {
            initEmailValidation();
            closeAlerts();
            initFormErrors();
        });

        // Focus en el primer error que exista en formularios.
        function initFormErrors() {
            const obj = d.querySelector('form .invalid');
            if (obj) obj.focus();
        }

        function closeAlerts() {
            // Get all elements with class="closebtn"
            const close = d.getElementsByClassName("closebtn");
            const M = close.length;
            var i, div;
            // Loop through all close buttons
            for (i = 0; i < M; i++) {
                close[i].onclick = function () {
                    // Get the parent of <span class="closebtn"> (<div class="alert">)
                    div = this.parentElement;
                    // Set the opacity of div to 0 (transparent)
                    div.style.opacity = "0";
                    // Hide the div after 600ms (the same amount of milliseconds it takes to fade out)
                    setTimeout(function () { div.style.display = "none"; }, 600);
                }
            }
        }

        // Solo verificará la existencia o no del e-mail
        function initEmailValidation() {
            const email = d.querySelector("form #email");
            if (!email) return;
            email.addEventListener("blur", function (e) {
                const value = email.value.trim();
                if (isEmpty(value)) {
                    // setError(email, "No puedes dejar este campo en blanco.");
                } else if (!validEmail(value)) {
                    // setError(email, "Introduce una dirección de correo electrónico válida.");
                } else {
                    // Solicitud AJAX
                    const data = "email=" + encodeURIComponent(value.toLowerCase());
                    sendHttpRequest('POST', '<?php echo BASE_URL; ?>/email_exists.php', data, (res) => {
                        if (res == "Ok") {
                            setSuccess(email);
                        } else {
                            setError(email, res);
                        }
                    });
                }
            });
        }

    </script>
</body>
</html>