<style>
    table,
    td,
    th {
        /* border: 1px solid #ddd; */
        text-align: left;
    }

    table {
        /* border-collapse: collapse; */
        width: 100%;
    }

    th,
    td {
        padding: 8px;
    }
</style>
<div>
    <h1>Detalle de Registro</h1>
    <p>Descripción de la vista de detalle</p>
</div>
<table>
    <tr class="d-none">
        <th>ID:</th>
        <td><?php echo $user['id_user']; ?></td>
    </tr>
    <tr>
        <th>Apellido:</th>
        <td><?php echo $user['apellido']; ?></td>
    </tr>
    <tr>
        <th>Nombre:</th>
        <td><?php echo $user['nombre']; ?></td>
    </tr>
    <tr>
        <th>E-mail:</th>
        <td><?php echo $user['email']; ?></td>
    </tr>
    <tr>
        <th>Teléfono:</th>
        <td><?php echo $user['telefono']; ?></td>
    </tr>
    <tr>
        <th>Registrado:</th>
        <td><?php echo $user['creado']; ?></td>
    </tr>
    <tr>
        <th>Última Modificación:</th>
        <td><?php echo $user['modificado']; ?></td>
    </tr>
    <tr>
        <th colspan="2">&nbsp;</th>
    </tr>
    <tr>
        <td>
            <a href="<?php echo BASE_URL; ?>/index.php" title="Volver a la lista"><span
                    class="fast-reverse-button emoji">⏪</span> a la lista</a>
        </td>
        <td>
            <div class="actions">
                <!-- Acción editar: método de envío GET -->
                <a href="<?php echo BASE_URL; ?>/edit.php?id_user=<?php echo $user['id_user']; ?>"
                    title="Editar registro"><span class="pen emoji">🖊️</span></a>
                <!-- Acción eliminar: método de envío POST -->
                <form action="<?php echo BASE_URL; ?>/delete.php" method="POST" style="display: inline-block;"
                    title="Eliminar registro" id="form-delete">
                    <input type="hidden" name="id_user" value="<?php echo $user['id_user']; ?>">
                    <button type="submit" class="icon fs-16"><span class="cross-mark emoji">❌</span></button>
                </form>
            </div>
        </td>
    </tr>
</table>

<!-- The Modal -->
<div id="delete-modal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
        <div class="modal-header">
            <span class="close">&times;</span>
            <h3>Eliminar registro</h3>
        </div>
        <div class="modal-body">
            <p style="margin-bottom: 1.5rem;">
                <span class="warning emoji">⚠️</span> Este registro será
                eliminado. ¿Estás seguro?
            </p>
        </div>
        <div class="modal-footer"></div>
    </div>
</div>

<script>

    d.addEventListener('DOMContentLoaded', (e) => {
        initDeleteDialog();
    });

    function initDeleteDialog() {
        // Get the form
        const formDelete = d.querySelector('#form-delete');
        // Get the modal
        const deleteModal = d.querySelector("#delete-modal");
        // Get the <span> element that closes the modal
        const span = deleteModal.querySelector(".close");
        // Create buttons
        const okBtn = d.createElement("button"), cancelBtn = d.createElement("button");

        okBtn.textContent = "Aceptar";
        okBtn.classList.add('btn');
        cancelBtn.textContent = "Cancelar";
        cancelBtn.classList.add('btn');
        const modalFooter = deleteModal.querySelector('.modal-footer');
        modalFooter.appendChild(okBtn);
        modalFooter.appendChild(cancelBtn);

        okBtn.onclick = function (e) {
            deleteModal.style.cssText = "display: none;";
            eliminarRegistro(formDelete);
        }

        cancelBtn.onclick = function (e) {
            deleteModal.style.cssText = "display: none;";
        }

        // When the user submit the form, open the modal 
        formDelete.onsubmit = function (e) {
            deleteModal.style.cssText = "display: block;";
            e.preventDefault();
        };
        // When the user clicks on <span> (x), close the modal
        span.onclick = function () {
            deleteModal.style.display = "none";
        }

        // When the user press the escape keyboard, close the modal
        d.onkeydown = function (event) {
            event = event || window.event;
            if (event.keyCode == 27) {
                deleteModal.style.display = "none";
            }
        }
    }

    function eliminarRegistro(el) {
        const data = 'id_user=' + encodeURIComponent(el.id_user.value);
        sendHttpRequest(el.method, el.action, data, responseHandler);
    }

    function responseHandler(response) {
        if (response == 'Ok') {
            location.href = '<?php echo BASE_URL; ?>/index.php';
        } else {
            alert('Lo sentimos, no podemos procesar su solicitud.');
        }
    }
</script>