<div class="form-wrapper">
    <div>
        <h1>Editar Registro</h1>
        <p>Ingrese los nuevos valores</p>
    </div>
    <form action="#" method="POST">
        <div class="mb-3">
            <label for="apellido">* Apellido:</label>
            <input type="text" name="apellido" id="apellido" value="<?php echo $user['apellido'];?>" spellcheck="false" autocomplete="off" autocorrect="off"
            autocapitalize="off" maxlength="40">
            <span class="form-error">
                <?php echo ($errors['apellido']) ?? ''; ?>
            </span>
        </div>
        <div class="mb-3">
            <label for="nombre">* Nombre:</label>
            <input type="text" name="nombre" id="nombre" value="<?php echo $user['nombre'];?>" spellcheck="false" autocomplete="off" autocorrect="off"
            autocapitalize="off" maxlength="40">
            <span class="form-error">
                <?php echo ($errors['nombre']) ?? ''; ?>
            </span>
        </div>
        <div class="mb-3">
            <label for="email">* E-mail:</label>
            <input type="email" name="email" id="email" value="<?php echo $user['email'];?>" spellcheck="false" autocomplete="off" autocorrect="off"
            autocapitalize="off">
            <span class="form-error">
                <?php echo ($errors['email']) ?? ''; ?>
            </span>
        </div>
        <div class="mb-3">
            <label for="telefono">* Teléfono:</label>
            <input type="tel" name="telefono" id="telefono" value="<?php echo $user['telefono'];?>" spellcheck="false" autocomplete="off" autocorrect="off"
            autocapitalize="off">
            <span class="form-error">
                <?php echo ($errors['telefono']) ?? ''; ?>
            </span>
        </div>
        <button type="submit" name="guardar" class="btn">Guardar</button>
        <button type="submit" name="cancelar" value="cancelar" class="btn">Cancelar</button>
    </form>
</div>