<div style="align-items: center;">
    <h2>Nuevo <a href="<?php echo BASE_URL; ?>/add.php" title="Agregar registro"><span class="plus emoji">➕</span></a>
    </h2>
</div>
<style>
    table th {
        text-align: left;
    }
</style>
<table class="dataTable display" style="width:100%">
    <thead>
        <tr>
            <!-- <th class="d-none">ID</th> -->
            <th>Apellido</th>
            <th>Nombre</th>
            <th>E-mail</th>
            <th>Teléfono</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        <?php if ($users): ?>
        <?php foreach ($users as $key => $user): ?>
        <tr>
            <!-- <td class="d-none"></td> -->
            <td><?php echo $user['apellido']; ?></td>
            <td><?php echo $user['nombre']; ?></td>
            <td><?php echo $user['email']; ?></td>
            <td><?php echo $user['telefono']; ?></td>
            <td class="text-center">
                <a href="<?php echo BASE_URL; ?>/detail.php?id_user=<?php echo $user['id_user']; ?>" title="Más">
                    <span class="information emoji">ℹ️</span>
                </a>
            </td>
        </tr>
        <?php endforeach; ?>
        <?php else: ?>
        <tr>
            <td class="text-center" colspan="6">No hay registros disponibles</td>
        </tr>
        <?php endif; ?>
    </tbody>
</table>